<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="my-app"/>
    <springProperty scope="context" name="appVersion" source="app.version" defaultValue="unknown"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active" defaultValue="local"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] v${appVersion} tid=%X{traceId} %logger{36}.%M - %msg%n"/>

    <!-- ========== LOCAL ========== -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] v${appVersion} tid=%X{trace_id} %cyan(%logger{36}.%M) - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="com.hmg.ipmap" level="TRACE"/>
    </springProfile>

    <!-- ========== DEV ========== -->
    <springProfile name="dev">
        <property name="LOG_DIR" value="${LOG_DIR}" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${appName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${appName}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>


        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${appName}.json</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${appName}.%d{yyyy-MM-dd}.%i.json.zip</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <pattern>
                        <pattern>
                            {
                            "level": "%level",
                            "thread": "%thread",
                            "logger": "%logger",
                            "message": "%message",
                            "tid": "%X{trace_id}",
                            "app.version": "v${appVersion}"
                            }
                        </pattern>
                    </pattern>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>

        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="ERROR"/>
        <logger name="com.hmg.ipmap" level="TRACE"/>
    </springProfile>

    <!-- ========== STAGING/PROD ========== -->
    <springProfile name="stg,prod">
        <property name="LOG_DIR" value="${LOG_DIR}" />

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${appName}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${appName}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>${LOG_PATTERN}</pattern>
            </encoder>
        </appender>


        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${appName}.json</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${appName}.%d{yyyy-MM-dd}.%i.json.zip</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>5GB</totalSizeCap>
            </rollingPolicy>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <pattern>
                        <pattern>
                            {
                            "level": "%level",
                            "thread": "%thread",
                            "logger": "%logger",
                            "message": "%message",
                            "tid": "%X{trace_id}",
                            "app.version": "v${appVersion}"
                            }
                        </pattern>
                    </pattern>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="WARN">
            <appender-ref ref="FILE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>

        <logger name="com.hmg.ipmap" level="INFO"/>
    </springProfile>

</configuration>
